.player {
  width: 300px;
  display: flex;
  align-items: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 2px solid black;

  font-size: 18px;

  span {
    font-size: 32px;
    margin-left: 16px;
  }

  background-color: lightgray;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
  }
}
